<!-- implement the votes for the answer -->

<div class="answer" data-answerid="<%= answer.id %>">
  <p><%= answer.details %></p>
  <p><%= answer.user.alias %> answered this xxxxxxxxxxx minutes ago</p>
</div>
<hr>
