<!-- implement the votes for the answer -->

<div class="answer" data-answerid="<%= answer.id %>">
  <p><%= answer.md_details.html_safe %></p>
  <p><%= answer.user.alias %> answered this xxxxxxxxxxx minutes ago</p>
</div>
<hr>
