<!-- implement the votes for the answer -->

<div class="answer_details_etc" data-answerid="<%= answer.id %>">
  <p class="answer-details"><%= answer.md_details %></p>
  <p><%= answer.user.alias %> answered this <%= answer.created_at %></p>
</div>
<hr>
